
*.fits
Final Directory/Glade_HET_Visible_Galaxies.csv
Final Directory/Fixing Catalog into Our Format/GLADE2.3HETd.csv
Final Directory/Fixing Catalog into Our Format/Glade_HET_Visible_Galaxies.csv
Final Directory/Fixing Catalog into Our Format/Full_Glade_Catalog.txt
